/* posicionamiento, modelo de caja, tipografia, visual*/
html{
    font-family: arial,sans-serif;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
    background: #fff;
    color: #202124;
}

*, *::after, *::before {
	/* box-sizing: inherit; */
	margin: 0;
	padding: 0;
	font-size: 1rem;
} 

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;    
}
.main {
    display: flex;
    flex-direction: column;   
    align-items: center; 
    width: 100%;
}
.logo {    
    /* justify-content:center; */
    max-width: 100%;    
    width: 100%;
    height: auto;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
    /* width: 36.375rem; */
    width: 21.5rem;
    height: 2.5rem;
    border: 0.0125rem solid lightgray;
    border-radius: 1.5rem;
}
.search-bar:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);    
}
.lupa{
    height: 20px;
    width: 18px;
    padding: 12px 0 0 20px;
    color: lightgray;
}
.mic {
    max-width: 15px;
    max-height: 20px;
    padding: 14px 20px 0 0px;
}
.btns {
    display: flex;
    justify-content: center;
    padding: 18px 0 18px 0;

}
.btn:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    background-color: #f8f9fa;
}
.btn {
    margin: 11px 4px;
    padding: 0 16px;
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #3c4043;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
}
.languages  {
    display: block;    
    /* justify-content: space-around;         */
}

p {
    font-size: 0.8rem;    
    padding-bottom: 0.9rem;
}
.ancla {
    padding-right: 0.6rem ;    
    text-decoration: none;
    color: #1a0dab;
}
.ancla:hover {
    text-decoration: underline;
}

 .logo {
     max-width: 45%;
 }

 @media screen and (min-width: 20em){
    .btn{ background-color: red;
        display: none;
    }
    .ancla{
        font-size: 0.8;
    }


}

@media screen and (min-width: 30em){
    .btn{ background-color: green;
    }

   
    
}

@media screen and (min-width: 37.5em){
    .btn{ background-color: blue; }
}

@media screen and (min-width: 48em){
    .btn { background-color: cyan; }

    
}

@media screen and (min-width: 64em){
    .btn{ background-color: magenta;
        display: block; }
    
}

@media screen and (min-width: 75em){
    .btn{ background-color: yellow; }

    
}